mixin shopslider(href, iconimg, title, buttoninfo)
  ul.shop-slides
    li.shop-slide
      a(href="/#{href}")
        .shop-image-anchors
          img(src="/assets/img/home/shop-carousel/#{iconimg}", title="#{title}", alt="#{title}").imgshop.imgzoom.lazyload.blur-up
      .carousel-shop-button
        h3 #{title}
        a(href="/#{href}")
          button.info-shop-button #{buttoninfo}

.product-carousel.the-heading.container-shadow

  .social-heading
    h2 Around the Bane
    hr.thehr

  .product-slider
    .triangle-toggle
      .triangle-previous
        .arrow-shop-carouselleft
      .triangle-next
        .arrow-shop-carouselright

    .shop-slider.content-height.container-shadow.teaser.lazyload(data-expand='-110')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')

.product-carousel.the-heading.container-shadow

  .social-heading
    h2 Around the Bane
    hr.thehr

  .product-slider
    .triangle-toggle
      .triangle-previous
        .arrow-shop-carouselleft
      .triangle-next
        .arrow-shop-carouselright

    .shop-slider.content-height.container-shadow.teaser.lazyload(data-expand='-110')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')

.product-carousel.the-heading.container-shadow

  .social-heading
    h2 Around the Bane
    hr.thehr

  .product-slider
    .triangle-toggle
      .triangle-previous
        .arrow-shop-carouselleft
      .triangle-next
        .arrow-shop-carouselright

    .shop-slider.content-height.container-shadow.teaser.lazyload(data-expand='-110')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')

.product-carousel.the-heading.container-shadow

  .social-heading
    h2 Around the Bane
    hr.thehr

  .product-slider
    .triangle-toggle
      .triangle-previous
        .arrow-shop-carouselleft
      .triangle-next
        .arrow-shop-carouselright

    .shop-slider.content-height.container-shadow.teaser.lazyload(data-expand='-110')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
      +shopslider('shop', 'thirtpreview1.jpg', 'T-Shirts', 'Shop Now')
