mixin main(image, title)
  .product-background(title='#{title}')
    img.prdback.lazyload.blur-up(data-sizes='(max-width: 700px) 100vw, 50vw', src='/assets/img/series/#{image}-low.jpg', data-srcset='\
    /assets/img/series/#{image}-small.jpg 768w, /assets/img/series/#{image}-medium.jpg 1024w,\
    /assets/img/series/#{image}-large.jpg 1366w,\
    /assets/img/series/#{image}-xlarge.jpg 1920w,\
    /assets/img/series/#{image}-xxlarge.jpg 2560w,\
    /assets/img/series/#{image}-xxxlarge.jpg 3840w', title="#{title}", alt="#{title}")

mixin collections(image, title, classNames)
  a(href="/series")(title='#{title}').collection-img
    img(src="/assets/img/series/#{image}", title="#{title}", alt="#{title}")(class=classNames)

mixin products(image, title)
  a(href="/series").shop-images
    img(src="/assets/img/home/shop-carousel/#{image}", title="#{title}", alt="#{title}")

.artworks-page.container-shadow.teaser.lazyload(data-expand='-110')
  .product-images
    +main('equilateral/equilateral8', 'All Praises To Be')
    .arrows-carousel
      a(href="/series").toggle-left
        .fa.fa-angle-left
      a(href="/series").toggle-right
        .fa.fa-angle-right
        
        
        //- img(src="/assets/img/series/#{image}", title="#{title}", alt="#{title}").prdback


  .product-content
    .product-info
      h2.ellipsis-text All Praises To Be
      h3 Collection: Equilateral
      p 01/25/17
      hr

    .share-it
      .share-button
        p.share-icon.open-icons Share This
        .icon-wrapper
          ul
            li
              a(target='_blank', href='https://twitter.com/share', data-url='{{ content.absolute_url }}')
                i.fa.fa-instagram
            li
              a(target='_blank', href='https://facebook.com/sharer/sharer.php?', data-url='{{ content.absolute_url }}')
                i.fa.fa-facebook
            li
              a(target='_blank', href='', onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}&title=','popup','width=600,height=600');")
                i.fa.fa-twitter
            li
              a(target='_blank', href='https://plus.google.com/share?url={{ content.absolute_url }}', onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
                i.fa.fa-tumblr
            li
              a(href='mailto:info@silvertech.com')
                i.fa.fa-pinterest-p
            li
              .close-social-icons
                i.fa.fa-times.close-icons

      .download-button
        a(href="/series").download-anchor Download Wallpaper
          .download-title
          .download-icon
            .download-triangle
    hr

    .other-artworks
      h4 Adjacent Artworks
      .next-images
        +collections('equilateral/equilateral8bk.jpg', 'All Praises To Be', 'blackwhite-hover')
        +collections('equilateral/equilateral8bk.jpg', 'All Praises To Be', 'blackwhite-hover')
        +collections('equilateral/equilateral8bk.jpg', 'All Praises To Be', 'activated')
        +collections('equilateral/equilateral8bk.jpg', 'All Praises To Be', 'blackwhite-hover')
        +collections('equilateral/equilateral8bk.jpg', 'All Praises To Be', 'blackwhite-hover')
      hr

    .available-products
      h4 Shop All Praises To Be
      .next-products
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
        +products('thirtpreview1.jpg', 'All Praises To Be')
      hr


    hr.pro-hr
