mixin series-products(href, image, title, day)
  .product-box
    a(href="/#{href}")
      .product-image
        img.lazyload.blur-up(data-sizes='(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw', src='/assets/img/series/#{image}', data-srcset='\
        /assets/img/series/#{image} 768w, /assets/img/series/#{image} 1024w,\
        /assets/img/series/#{image} 1366w,\
        /assets/img/series/#{image} 1920w,\
        /assets/img/series/#{image} 2560w,\
        /assets/img/series/#{image} 3840w', title="#{title}", alt="#{title}")
        .product-caption
          h2 #{title}
          p #{day}

.series-content

  .title-series
    h1.shop-title Equilateral Series
    hr.thehr
    p.shop-description One artwork a day for 365 days, each about equilateral triangles

  .series
    +series-products('series/equilateral', 'equilateral/equilateral3.jpg', 'The Marylin', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral4.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral5.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral6.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral7.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral8.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral9.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral10.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral11.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral12.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral13.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral14.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral15.jpg', 'The Marylin', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral16.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral17.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral3.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral4.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral5.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral6.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral10.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral9.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral8.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral7.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')
    +series-products('series/equilateral', 'equilateral/equilateral17.jpg', 'Wannabe a niggah all day and tommorrow', 'Day: 355')

  .seriesbutton
    button Load More...
